<div class="swiper one" >
  <div class="swiper-wrapper" >
    <div class="swiper-slide"><button type="submit" ><img src="https://i.imgur.com/oOZB19w.jpg" class="img img1" alt=""></button></div>
    <div class="swiper-slide "><button type="submit"><img src="https://i.imgur.com/r76kHRX.jpg" class="img img2" alt=""></button></div>
    <div class="swiper-slide "><button type="submit"><img src="https://i.imgur.com/HzFeR7t.jpg" class="img img3" alt=""></button></div>
    <div class="swiper-slide "><button type="submit"><img src="https://i.imgur.com/TNP3OUM.jpg" class="img img4" alt=""></button></div>
   
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination one "></div>
</div>






