<main>
  <div class="swiper-container">
   
    <h3 class="list-title">Recomendaciones Para ti</h3>
    <div class="swiper-wrapper" >
       <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
    
    </div>
 
    
  </div>
  <div class="swiper-container">
   
    <h3 class="list-title">Marvel</h3>
    <div class="swiper-wrapper" >
       <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/marvel/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/marvel/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/marvel/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/marvel/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/marvel/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide"  (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/marvel/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
 
    </div>
 
    
  </div>

  <div class="swiper-container">
   
    <h3 class="list-title">X-Men</h3>
    <div class="swiper-wrapper" >
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/xmen/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/xmen/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/xmen/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/xmen/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/xmen/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/xmen/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
      
    </div>
 
    
  </div>

  <div class="swiper-container">
   
    <h3 class="list-title">Star Wars</h3>
    <div class="swiper-wrapper" >
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/recommed/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/recommed/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/recommed/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/recommed/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1" ><h3><img src="assets/img/portadas/recommed/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
    
    </div>
 
    
  </div>
<a id="series">
  <div class="swiper-container">
   
    <h3 class="list-title">Series</h3>
    <div class="swiper-wrapper">
       <div class="card swiper-slide"(click)="modal.showModal()" ><h3><img src="assets/img/portadas/recommed/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" ><h3><img src="assets/img/portadas/recommed/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()"><h3><img src="assets/img/portadas/recommed/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()"><h3><img src="assets/img/portadas/recommed/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()"><h3><img src="assets/img/portadas/recommed/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()"><h3><img src="assets/img/portadas/recommed/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
     
    </div>
 
    
  </div>
</a>
<a id="originales">
  <div class="swiper-container">
   
    <h3 class="list-title" >Originales</h3>
    <div class="swiper-wrapper" >
       <div class="card swiper-slide"(click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
      
     
    </div>
    
  </div>
</a>
  <a id="milista">
  <div class="swiper-container">
   
    <h3 class="list-title">Mi Lista</h3>
    <div class="swiper-wrapper" >
      <div class="card swiper-slide" (click)="modal.showModal()"  tabindex="-1"><h3><img src="assets/img/portadas/recommed/img1.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img2.jpg"class="img" ></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img3.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img4.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img5.jpg" class="img"></h3></div>
      <div class="card swiper-slide" (click)="modal.showModal()" tabindex="-1"><h3><img src="assets/img/portadas/recommed/img6.jpg"class="img" ></h3></div>
      <div class="card swiper-slide add"  (click)="modal.showModal()" tabindex="-1"><h3></h3></div>
      
    
    </div>

  </div>
</a>
<app-mmodal #modal>

</app-mmodal>

</main>




 
 
    
 



  
  
    
    


 









 