<div class="main disney-rows">
  <div class="grid">
    <div class="card-disney">
      <a>
       <div class="item-border">
          <img src="assets/img/disney.png" class="item-image">
          <img src="assets/img/disney.gif" class="item-image hover-image">
        </div>
      </a>
    </div>
    <div class="card-disney">
      <a>
        <div class="item-border">
          <img src="assets/img/pixar.png" class="item-image">
          <img src="assets/img/pixar.gif" class="item-image hover-image">
      </div>
     </a>
    </div>
    <div class="card-disney">
      <a>
        <div class="item-border">
          <img src="assets/img/marvel.png" class="item-image">
          <img src="assets/img/marvel.gif" class="item-image hover-image">
        </div>
      </a>
    </div>
    <div class="card-disney">
      <div class="item-border">
        <img src="assets/img/StarWars.png" class="item-image">
        <img src="assets/img/starwars.gif" class="item-image hover-image">
      </div>
    </div>
    <div class="card-disney">
    <a>
      <div class="item-border">
         <img src="assets/img/national.png" class="item-image">
         <img src="assets/img/national.gif" class="item-image hover-image">
        </div>
      </a>
    </div>
  </div>
</div>









